# LaTeX build files
*.aux
*.bbl
*.blg
*.dvi
*.fls
*.fdb_latexmk
*.log
*.out
*.pdf
*.synctex.gz
*.toc

# LaTeX temp files (thesis files)
*.thm

# Ignore all temporary LaTeX files
*~

# Arduino build files
*.hex
*.elf
*.bin
*.o
*.a
*.d
*.map

# VS Code settings
.vscode/

# Arduino specific files
.idea/

# Ignore library archives
*.zip
